
@{
    ViewBag.Title = "NhapLieuBT_TimUCLN";
}

<h2>NhapLieuBT_TimUCLN</h2>
@{ Html.BeginForm();}
@*@{ Html.BeginForm("TimUCLN", "GiaiBaiToan", FormMethod.Post);*@
@Html.Label("Mời nhập số thứ nhất a = ")
@Html.TextBox("a")
<br />
@Html.Label("Mời nhập số thứ hai b = ")
@Html.TextBox("b")
<input type="submit" value="Tim UCLN" />
<br />
@Html.Label($"{ViewBag.msg}")
@{ Html.EndForm(); }

