@model IEnumerable<WebApplication1.Models.Users>
@{
    ViewBag.Title = "TruyenTapDoiTuong";
}

<h2>TruyenTapDoiTuong</h2>
@*@{ var users = ViewBag.user as List<WebApplication1.Models.Users>;}*@
@{ var users = Model;}
@foreach (var user in users)
{
    <b>@user.Id</b>
    <p>@user.Name</p>
    <p>@user.Address</p>
    <p>@user.Email</p>
    <p>@user.Password</p>
    <p>@user.Gender</p>
}

