@model IEnumerable<_16_LTUDDN_NguyenVanGiang_21103101232_DHTI15A19HN.Models.LichSuDieuTri>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDieuTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuanDoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhuongPhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiPhi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BenhNhan.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDieuTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuanDoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhuongPhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiPhi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BenhNhan.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaLS }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaLS }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaLS })
        </td>
    </tr>
}

</table>
