@model web1.Models.MayTinh
@{
    ViewBag.Title = "ThemMoiMT";
    Layout = "~/Views/Shared/LayoutUser.cshtml";


}

<main>
    <div class="page-section features">
        <div class="container">
            <h4>Thêm mới máy tính 2</h4>
            <form action="~/Home/LuuThongTinMT2" method="post">
                    @* or method="get"*@
                <div class="form-group">
                    <label for="email">Mã Máy</label>
                    <input type="text" class="form-control" name="MaMay"> 
                </div>

                <div class="form-group">
                    <label for="pwd">Dòng Máy:</label>
                    <input type="text" class="form-control" name="DongMay">
                </div>

                <div class="form-group">
                    <label for="pwd">Đơn giá:</label>
                    <input type="text" class="form-control" name="DonGia">
                </div>

                <div class="form-group">
                    <label for="pwd">Ngày sản xuất:</label>
                    <input type="date" class="form-control" name="NgaySanXuat" >
                </div>

                <div class="form-group">
                    <label for="pwd">hãng Sản Xuất:</label>
                    <input type="text" class="form-control" name="HangSanXuat">
                </div>

                <button type="submit" class="btn btn-default">Lưu</button>
            </form>
        </div>
    </div>
    @if (Model != null) 
    { 
        @Model.MaMay
        @Model.DongMay
        @Model.DonGia
        @Model.NgaySanXuat
        @Model.HangSanXuat
    }
</main>
