@model IEnumerable<QuanLyBanHang.Models.DanhSachNhanVien_Result>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="col-md-12">
    <form method="get">
        <div class="col-md-5">
            <input type="text" placeholder="Nhập tên hoặc số điện thoại" name="key" value="@ViewBag.key" class="form-control" style="margin:10px 0px" />
        </div>

        <div class="col-md-2" style="margin:5px 0px">
            <button type="submit" class="btn btn-success">Tìm</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Danh sách nhân viên</h5>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>
            Mã nhân viên
        </th>
        <th>
            Tên nhân viên
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Thời gian bắt đầu làm
        </th>
        <th>#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}", item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}", item.TimeBatDauLam)

            </td>
            <td>
                @Html.ActionLink("Edit", "CapNhat", new { id = item.MaNV }) |
                @Html.ActionLink("Delete", "Xoa", new { id = item.MaNV })
            </td>
        </tr>
    }

</table>
