@model IEnumerable<sach_phieumuon.Models.ViewSach>

@{
    ViewBag.Title = "sosachnhieunhat";
}

<h2>sosachnhieunhat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã sách
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Tác giả
        </th>
        <th>
            Thể loại
        </th>
        <th>
            Số lượng tồn
        </th>
        <th>
            Số lượng mượn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var item2 in item.Sachs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item2.MaSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.TacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.TheLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
            </tr>
        }
    }

</table>
