@model IEnumerable<sach_phieumuon.Models.PhieuMuon>

@{
    ViewBag.Title = "timkiem";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ Html.BeginForm("timkiem", "PhieuMuons", FormMethod.Post);}
<p>
    <input type="text" name="ten" value="@ViewBag.ten" />
    <input type="submit" value="tìm" />
</p>
@{ Html.EndForm();}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaPhieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiMuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </th>
        <th>
            Số ngày mượn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.TenSach)
            </td>
            @{
                int songay = (item.NgayTra.Value - item.NgayMuon.Value).Days;
            }
            <td>
                @songay
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaPhieu }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaPhieu }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaPhieu })
            </td>
        </tr>
    }

</table>
