@model IEnumerable<ontap_de2.Models.Diem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diemmh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.Hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diemmh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id1 = item.Masv, id2 = item.Tenmh }) |
            @Html.ActionLink("Details", "Details", new { id1 = item.Masv, id2 = item.Tenmh }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.Masv, id2 = item.Tenmh })
        </td>
    </tr>
}

</table>
