@model IEnumerable<De26.Models.HoaDonDatMon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>TÌM KIẾM THÔNG TIN HÓA ĐƠN</p>
@{ Html.BeginForm(FormMethod.Get);}
Nhập tên khách hàng: @Html.TextBox("tenkh")
<input type="submit" value="Tìm kiếm" />
@{ Html.EndForm();}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaMon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonAn.TenMon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonAn.DonGia)
        </th>

        <th>Thành tiền</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonAn.TenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonAn.DonGia)
        </td>
        <td>
            @(item.SoLuong * item.MonAn.DonGia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaHD }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaHD }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaHD })
        </td>
    </tr>
}

</table>
