@model IEnumerable<De26.Models.DoanhThus>

@{
    ViewBag.Title = "monantongdoanhthumax";
}

<h2>monantongdoanhthumax</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã Món
        </th>
        <th>
            Tên món
        </th>
        <th>
            Loại món
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Số lượng tồn
        </th>
        <th>Doanh thu</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMon)
            </td>
            @foreach (var item2 in item.MonAns)
            {
                <td>
                    @Html.DisplayFor(modelItem => item2.TenMon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.LoaiMon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.SoLuongTon)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.DoanhThu)
            </td>
        </tr>
    }

</table>
