@model IEnumerable<QuanLyBanHang.Models.PhuCap>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h5>Danh sách phụ cấp</h5>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiPhuCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTienPhuCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BangLuong.ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiPhuCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTienPhuCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BangLuong.ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
