@model IEnumerable<Btap_Tuan6.Models.BanHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Tổng số lượng bán", "TongSL")
</p>

<p>
    @Html.ActionLink("Danh sách vượt định mức", "VuotDinhMuc")
</p>

<p>
    @Html.ActionLink("Sản phẩm bán nhiều nhất", "SPMax")
</p>

@{ Html.BeginForm("Index","BanHangs");}

<p>
    Sản phẩm
    @Html.TextBox("sp")
    <input type="submit" value="Tìm" />
</p>
@{ Html.EndForm();}

@{
    if (ViewBag.sum != null)
    {
        foreach (var item in ViewBag.sum)
        {
            <p>Nhân viên: @item.Ten, SLBan: @item.SLBan</p>
        }
    }
}

@{
    if (ViewBag.sumsp != null && ViewBag.maxds != null)
    {

        foreach (var item in ViewBag.sumsp)
        {
            <p>Tên sản phẩm: @item.Ten, SLBan: @item.SLBan</p>
        }

        <b>Sản phẩm có số lượng bán nhiều nhất</b>
        foreach (var max in ViewBag.maxds)
        {
            <p>Tên sản phẩm: @max.Ten, SLBan: @max.SLBan</p>
        }
    }
}

@{
    if (ViewBag.msg != null)
    {
        <p>@ViewBag.msg</p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.Tenquay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.Tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dinhmuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slban)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.Tenquay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dinhmuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slban)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
