@model IEnumerable<ontap3.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNhaCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocQuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinChung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaCC)
            </td>
            @{
                if (item.DocQuyen == true)
                {
                    <td>Có</td>
                }
                else
                {
                    <td>Không</td>

                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinChung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaNCC }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaNCC }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaNCC })
            </td>
        </tr>
    }

</table>
