@model IEnumerable<btvn_Tuan4.Models.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ Html.BeginForm("Index", "NhanVien", FormMethod.Post);}
<p>
    Tìm kiếm
    @Html.TextBox("gioitinh")
    <input type="submit" name="" value="Tìm" />
</p>
@{ Html.EndForm();}

@{ Html.BeginForm("Index", "NhanVien", FormMethod.Post);}
<p>
    Tên Phòng
    @Html.TextBox("tinhluong")
    <input type="submit" name="" value="Tìm và Tính lương" />
</p>
@{ Html.EndForm();}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manhanvien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gioitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hesoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenphong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manhanvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            @{
                if (item.Gioitinh)
                {
                    <td>Nam</td>
                }
                else
                {
                    <td>Nữ</td>

                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hesoluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenphong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Manhanvien }) |
                @Html.ActionLink("Details", "Details", new { id = item.Manhanvien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Manhanvien })
            </td>
        </tr>
    }

</table>
@{
    if (ViewBag.sum != null)
    {
        <p>Tổng lương là: @ViewBag.sum VNĐ</p>
    }
}
