@model IEnumerable<test.Models.HangHoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ Html.BeginForm();}

<p>
    Đơn giá
    @Html.TextBox("dongia")
    @Html.DropDownList("loaihang", new SelectList(ViewBag.lhh, "Value", "Text"), "Choose")
    <input type="submit" value="Tìm" />
</p>
@{
    if (ViewBag.sum != null)
    {
        <p>Tổng thành tiền loại hàng @ViewBag.lh là @ViewBag.sum</p>
    }
}


@{ Html.EndForm();}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mahh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenhh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nsx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thanhtien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loaihang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thanhtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loaihang)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
