@model ontap3.Models.ThietBi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThietBi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
           @(Model.SoLuong*Model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNhaCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
