@model IEnumerable<ontap3.Models.ThietBi>

@{
    ViewBag.Title = "timkiem";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ Html.BeginForm(FormMethod.Post);}
<p>
    <input type="text" name="ten" value="@ViewBag.tentb" />
    <input type="submit" value="tìm" />
</p>
@{ Html.EndForm();}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @(item.SoLuong*item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNhaCC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaTB }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaTB }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaTB })
            </td>
        </tr>
    }

</table>
