@model btvn_Tuan3.Models.SinhVien
@{
    ViewBag.Title = "Truyen1SV";
}

<h2>Truyen1SV</h2>
<b>Mã:@Model.Msv </b>
<p>Tên: @Model.Name</p>
<p>Ngày sinh: @Model.NgaySinh</p>
<p>Giới tính: @Model.GioiTinh</p>
<p>Quê Quán: @Model.QueQuan</p>
<p>Lớp: @Model.Lop</p>

