@model IEnumerable<btvn_Tuan3.Models.SinhVien>
@{
    ViewBag.Title = "TruyenNhieuSV";
}

<h2>TruyenNhieuSV</h2>
@{ var sv = Model;}
@foreach (var s in sv)
{
    <b>Mã:@s.Msv </b>
    <p>Tên: @s.Name</p>
    <p>Ngày sinh: @s.NgaySinh.ToString()</p>
    <p>Giới tính: @s.GioiTinh</p>
    <p>Quê Quán: @s.QueQuan</p>
    <p>Lớp: @s.Lop</p>
}
